* {
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color:black;
}

.main-content{
    margin:50px 25px 0 25px;
}   


#header-title {
    color:#69c754;
}

#header-title-1 {
    color: #51a448;  
}


.ul-list{
    padding-left: 20px;
    margin:40px 0 40px;
}

    .ul-list li{
        padding-bottom:2px;
        padding-left:2px;
    }

    .ul-list .ul-list-color{
        color:#76ad3f;
        }


#header-title-2 {
    color: #84c754;
    margin-bottom:15px;
}

.article{
    color:#7fc051;
    text-align: justify;
    line-height: 1.5;
    margin-bottom:25px;
}
    .article a{
        color:white;
    }

.header-title-3{
    color:#72c254;
    margin-bottom:20px;
}  

.small-article {
    padding:10px 10px;
    text-align:center;
    border: 1px solid white;
    border-radius: 5px 5px;
    line-height: 1.3;
    color:white;
    font-size:12px;
}
